@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #111;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

#score {
    font-size: 1.5em;
    margin: 10px 0;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.mode-toggle {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #333;
    color: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.mode-toggle:hover {
    background-color: #FFF;
    color: #333;
}

.light-mode {
    background-color: #EEE;
    color: #000;
}

.light-mode h1,
.light-mode #score {
    color: #000;
}

.light-mode .mode-toggle {
    background-color: #DDD;
    color: #333;
}

.light-mode .mode-toggle:hover {
    background-color: #333;
    color: #FFF;
}
